version: '3'
  
services:
  db:
    image: postgres:14.2
    ports:
      - 9000:5432
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - django-landscape-postgres:/var/lib/postgresql/data 

volumes:
  django-landscape-postgres: