{% extends "self_hosted/base.html" %}
{% load static %} 
{% block content %}
<div class="container" style="max-width:600px">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Add apps</h1>
    </div>
    <div class="py-5">
        <div class="row">
            <div class="col-12">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="mb-3">
                        <label for="id_app_name" class="form-label">App Name</label>
                        <input type="text" name="app_name" maxlength="250" required id="id_app_name" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label for="id_description" class="form-label">Description</label>
                        <textarea class="form-control" id="id_description" name="description"  rows="5"></textarea>
                      </div>

                    <label for="id_github_url" class="form-label">GitHub URL</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon3">https://github.com/user/repository</span>
                        <input type="url" class="form-control" maxlength="250" id="github_url" aria-describedby="basic-addon3">
                    </div>
                    
                    <div class="mb-3">
                        <label for="id_svg_logo" class="form-label">Logo</label>
                        <input name="svg_logo" class="form-control" type="file" id="id_svg_logo">
                    </div>
                    
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
