{% extends 'self_hosted/base.html' %}

{% block content %}

{% if latest_app_list %}

{% for app in latest_app_list %}
<div class="col-lg-6 col-xxl-4 mb-5">
    <div class="card bg-light border-0 h-100">
        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
            {% comment %} {% if app.svg_logo != "" %} {% endcomment %}
            <img src="{{ MEDIA_URL }}/{{ app.svg_logo }}" width="80" height="80 alt="Responsive image" class="img-fluid">
            {% comment %} {% else %}
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-collection"></i></div>
            {% endif %} {% endcomment %}
            <h2 class="fs-4 fw-bold">{{ app.app_name}}</h2>
            <p class="mb-0">{{ app.description }}</p>
            <a href="{% url 'self-hosted:detail' app.id %}" class="card-link">Details</a>
        </div>
    </div>
</div>


{% endfor %}


{% else %}
<p>No apps yet.</p>
{% endif %}

    
{% endblock %}



