{% extends "base.html" %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content%}

<h1>{{page.title}}</h1>
{%if page.subtitle %}
    <p>{{page.subtitle}}</p>
{% endif %}

<div class="row row-cols-1 row-cols-md-2 g-4">
    {% if apps %}
    {% for app in apps %}
    <div class="col">
      <div class="card">
        {% image app.logo width-3000 as card_img%}
        <img src="{{card_img.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{app.title}}</h5>
          <p class="card-text">{{app.description|richtext}}</p>
          <a href="{{ app.url}}" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No apps yet.</p>
{% endif %}

{% endblock %}